GOOGLE_APPLICATION_CREDENTIALS=./google-credentials.json
PROPRESENTER_BASE_URL=http://127.0.0.1:1025
PROPRESENTER_MESSAGE_NAME=Amharic Live Transcription API
PROPRESENTER_THEME_SLIDE=Lower 3rd Lyrics
WORDS_PER_LINE=8
CLEAR_AFTER_SILENCE_MS=4000
LANGUAGE_CODE=am-ET
